{% load my_tags %}
<div class="col-lg-4">
    <div class="sidebar-widget">
        <div class="tab-news">
            <ul class="nav nav-pills nav-justified">

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                </li>
            </ul>

            <div class="tab-content">


                {% get_popular_and_latest_posts count_words=3 %}


            </div>
        </div>
    </div>
</div>
