{% load static %}
<div class="brand">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-7 col-md-4">
                <div class="b-ads">
                    <a href="https://htmlcodex.com">
                        <h4 class="mytitle">CIVILIZATION</h4>
                        <!--<img src="{% static 'img/logo8.png' %}" alt="Ads">-->
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4">
                <div class="b-ads">

                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="b-search">
                    <form action="{% url 'civilopedia:posts_by_search' %}" method="GET">
                        {% csrf_token %}
                        <input type="text" name="s" placeholder="Search...">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>