<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="{% url 'civilopedia:posts_example' %}" class="nav-item nav-link active">Главная</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Sub Item 1</a>
                            <a href="#" class="dropdown-item">Sub Item 2</a>
                        </div>
                    </div>

                    <a href="{% url 'civilopedia:tags_page' %}" class="nav-item nav-link">
                        <i class="fa fa-2x fa-hashtag" aria-hidden="true"></i>
                    </a>

                </div>

            </div>
        </nav>
    </div>
</div>
<!-- сделать форму авторизации как выпадающее меню-->